<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Todo-List</title>
  </head>
  <body>
    <h1>Todos</h1>
    <ul>
      <% for(let i = 0; i < info.length; i++) {%>
      <li class="todoItem">
        <% if(info[i].completed === true){%>
        <span class="completed"><%= info[i].todo %></span>
        <% }else{ %>
        <span><%= info[i].todo %></span>
        <% } %>
        <span class="del"> delete </span>
      </li>
      <% } %>
    </ul

    <h2>Things left to do: <%= left %></h2>

    <form action="/createTodo" method="POST">
      <input type="text" placeholder ="Enter Todo Item" name="todoItem">
      <input type="submit">
    </form>

  </body>
<script type="text/javascript" src="main.js"></script>
</html>
